doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(style = "background-image: url(https://c.pxhere.com/photos/e5/64/business_company_couch_coworking_guy_man_office_person-915919.jpg!d); background-repeat: no-repeat;background-size: cover;")
    block content
